.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
  width: 880px;
  margin-top: -50px;
}
.title {
  font-size: 80px;
  font-weight: 600;
  color: #8e0e00;
  text-shadow: 2px 2px 5px rgba(231, 76, 60, 0.6);
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin-bottom: 20px;
}
.description {
  font-size: 22px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 20px;
  width: 80%;
}
.shop-now-btn {
  padding: 15px 30px;
  background-color: #8c0f01;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 17px;
  transition: background-color 0.3s ease;
}
.shop-now-btn:hover {
  background-color: #d81600;
}
.babyImage {
  width: 550px;
  height: 80vh;
  margin-top: -7px;
  margin-right: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5);
}
