.login-page {
  width: 450px;
  padding: 30px;
  background-color: #ffffff61;
  border-radius: 10px;
  box-shadow: 0 4px 8px 12px rgba(184, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  position: absolute;
  left: 430px;
}
.login-logo {
  font-size: 2.5em;
  font-weight: bold;
  color: #7c0000;
}
.login-header {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  font-size: 0.95em;
  color: #373737;
  margin-bottom: 5px;
}
input {
  width: 420px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}
input:focus {
  outline: none;
  border-color: #2d9cdb;
  box-shadow: 0 0 5px rgba(45, 156, 219, 0.4);
}
input::placeholder {
  color: #aaa;
  font-size: 1em;
}
.login-btn {
  width: 445px;
  padding: 14px;
  background-color: #8d0101;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-error {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}
.login-register-link {
  margin-top: 20px;
  font-size: 1em;
  color: #252525;
}
.login-register-link a {
  color: #f10000;
  text-decoration: none;
}
.login-register-link a:hover {
  text-decoration: underline;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-success {
  font-size: 30px;
  font-weight: bold;
  color: rgb(128, 0, 0);
}
